<!DOCTYPE html>
<html>
  <head>
    <title>blogg.Y</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="body_links" >
    <div id="main_links" >
      <% if current_user %>
        <%= current_user.email%>
      <% end %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
    <div id="page_links" >
      <%= link_to "Home", root_path %>
      <%= link_to "New Post", new_post_path %>
    </div>
    </div>
  <h1 id="title">
    blogg.Y
  </h1>


<body>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <hr>
<%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
